<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.konstantinoplebank.dao.mapper.TransactionMapper">

    <resultMap type="Transaction" id="TransactionResult">
        <id 	property="id" column="id"/>
        <result property="amount" column="amount"/>
        <result property="date" column="date"/>
        <result property="description" column="description"/>
        <association property="bill"
                     column="bill"
                     javaType="com.konstantinoplebank.entity.Bill"
                     select="com.konstantinoplebank.dao.mapper.BillMapper.findBillById"
                     fetchType="lazy"
        />
    </resultMap>

    <select id="findTransactionById" parameterType="_long" resultMap="TransactionResult">
        SELECT * FROM transactions WHERE id=#{id}
    </select>

    <select id="findAll" resultMap="TransactionResult">
        SELECT * FROM transactions
    </select>

    <select id="findTransactionsByUserId" parameterType="_long" resultMap="TransactionResult">
        SELECT * FROM transactions WHERE user=#{id}
    </select>

    <select id="findTransactionsByBillId" parameterType="_long" resultMap="TransactionResult">
        SELECT * FROM transactions WHERE bill=#{id}
    </select>

    <select id="findTransactionsByUserName" parameterType="string" resultMap="TransactionResult">
        SELECT * FROM transactions WHERE user IN (SELECT id FROM bank.users WHERE name=#{name})
    </select>

    <insert id="createTransaction"  parameterType="Transaction" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO transactions(amount, date, description, bill, user) VALUES (#{amount}, #{date}, #{description},
        #{bill.id}, #{user.id})
    </insert>

</mapper>